/* css document */
* {
  position: relative;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */   
}

body {
  background: #f8eee1;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-decoration: none;
  font-weight: normal;
  color: #545353;
}

.inner {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

#wrapper {
  width: 100%;
  min-width: 1024px;
  height: auto;
  overflow: hidden;
}

/* slider */
#slider {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1000px;
  width: 2000px;
  height: 645px;
  z-index: 100;
}

#slider2 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1000px;
  width: 2000px;
  height: 445px;
  z-index: 100;
}

/* header */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 300;
  background: url(../images/header_background.png) top left repeat-x;  
}

#logo {
  position: absolute;
  width: 179px;
  height: 179px;
  left: 0;
  bottom: 0;
}

#menu {
  position: absolute;
  top: 72px;
  right: 0;
  width: auto;
  height: 78px;
}

#menu:after {
  content: '';
  display: block;
  clear: both;
}

#menu a {
  display: block;
  float: left;
  width: auto;
  height: 100%;
  text-decoration: none;
  font-size: 20px;
  color: #545353;
  margin-right: 20px;
  padding-top: 28px;
}

#menu a:last-child {
  margin-right: 0;
}

#menu a.selected,
#menu a:hover {
  border-bottom: #11000f 5px solid;
}

/* middle */
#middle {
  width: 100%;
  height: auto;
  padding-top: 550px;
  background: url(../images/background.png) top center no-repeat;    
  z-index: 200;
}

body:not(#page-splash) #middle {
  padding-top: 350px;
  background-position: center -200px;
}

hr {
  width: 1000px;
  height: 16px;
  border: 0;
  background: url(../images/line.png) top center no-repeat;
  margin: 15px 0;
}

h1 {
  font-size: 30px;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
  padding: 1px 0 20px 0;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #11000f;
  text-align: center;
  font-style: italic;
  background: url(../images/quote.png) top left no-repeat;
  padding-top: 50px;
  margin-top: -30px;
}

p {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 15px 0;
}

a {
  color: #545353;  
}

.map:after {
  content: '';
  display: block;
  clear: both;
}

.map .left {
  width: auto;
  float: left;
}

.map .right {
  width: auto;
  float: right;
}

.map .right iframe {
  border: rgba(17, 0, 15, 0.12) 10px solid;
}

.message {
  width: 610px;
  margin: 0 auto;
}

.message:after {
  content: '';
  display: block;
  clear: both;
}

.message .left {
  width: 300px;
  float: left;
}

.message .right {
  width: 300px;
  float: right;
}

.message input {
  width: 100%;
  border: rgba(17, 0, 15, 0.5) 1px solid;
  padding: 10px;
  margin-bottom: 5px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;  
  font-size: 12px;
  color: #11000f;
}

.message input[type="submit"] {
  background: #11000f;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
  border: none;
}

.message textarea {
  width: 100%;
  height: 124px;
  border: rgba(17, 0, 15, 0.5) 1px solid;
  padding: 10px;
  margin-bottom: 5px;
  resize: none;  
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 12px;  
  color: #11000f;
}

.categories:after {
  content: '';
  display: block;
  clear: both;
}

.categories .category {
  width: 50%;
  float: left;
  font-size: 12px;
  padding-left: 0;
  padding-right: 5px;
  padding-top: 10px;  
}

.categories .category:first-child,
.categories .category:nth-child(2) {
  padding-top: 0;
}

.categories .category:after {
  content: '';
  display: block;
  clear: both;
}

.categories .category .pic {
  float: left;
  width: 120px;
}

.categories .category .pic img {
  border: rgba(17, 0, 15, 0.12) 10px solid;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.categories .category .text {
  float: right;
  width: 350px;
  font-size: 12px;
}

.categories .category .text span {
  font-weight: bold;
  font-size: 12px;
}

.categories .category .text p {
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  margin: 5px 0;
}

.categories .category .text p span {
  font-size: 12px;
  font-weight: normal;
}

.categories .category .text p img {
  vertical-align: middle;
}

.categories .category:nth-child(2n) {
  padding-left: 5px;
  padding-right: 0;
}

.galleries:after {
  content: '';
  display: block;
  clear: both;
}

.galleries {
  text-align: center;
  padding-top: 10px;
}

.galleries a {
  display: inline-block;
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(17, 0, 15, 0.12);
  color: #ffffff;
  text-decoration: none;  
}

.galleries a:hover,
.galleries a.selected {
  background: rgba(17, 0, 15, 1); 
}

.pictures {
  text-align: center;
}

.pictures a {
  display: inline-block;
  height: 130px;
  width: auto;
  margin: 2px;
}

.pictures a img {
  max-height: 100%;
  border: rgba(17, 0, 15, 0.12) 5px solid;  
}

/* footer */
#footer {
  padding-bottom: 30px;
}

#footer:after {
  content: '';
  display: block;
  clear: both;
}

#footer .left {
  float: left;
  text-align: left;
  font-size: 12px;
  color: #11000f;
  padding-top: 7px;
}

#footer .right {
  float: right;
  text-align: right;
  font-size: 12px;
  color: #11000f;
}

#footer .right:after {
  content: '';
  display: block;
  clear: both;
}

#footer .right a {
  color: #11000f;
  text-decoration: none;
  display: block;
  width: auto;
  height: 28px;
  float: left;
  padding-top: 7px;
  margin-right: 5px;   
}

#footer .right a:last-child {
  margin: 0;
}

#footer .right a.facebook {
  width: 28px;
  background: url(../images/facebook.png) center center no-repeat;
}